<div class="info-item-holder">
  <strong>Nome:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.name" />
</div>
<div class="info-item-holder">
  <strong>Telefone:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.telephone" />
</div>
<div class="info-item-holder">
  <strong>CPF:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.cpf" />
</div>
<div class="info-item-holder">
  <strong>E-mail:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.email" />
</div>
<div class="info-item-holder">
  <strong>Sexo:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.gender" />
</div>
<div class="info-item-holder">
  <strong>Senha:</strong>
  <input type="text" disabled value="********" />
</div>
<div class="info-item-holder">
  <strong>Data de nascimento:</strong>
  <input type="text" ng-disabled="settings.lockedForm" ng-model="info.birthDate" />
</div>
<div class="info-item-holder">
  <label>
    <input type="checkbox" ng-disabled="settings.lockedForm" ng-model="info.wantNewsletter" />
    <strong>Deseja receber newsletter</strong>
  </label>
</div>
